.App {
  color: #000000;
  display: flex;
  width: 100%;
  flex-direction: column;
}

header {
  background-image: url('../public/background_image.png');
  background-size: cover;
  height: 400px;
}

.main__component {
  margin-top: -200px;
  width: 95%;
}

button {
  border: none;
  background: none;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .main__component {
    margin: -175px;
  }

  .results {
    height: 300px;
  }

  .footer {
    display: none;
  }
}